<!DOCTYPE html>
  <html ng-app="mailApp" lang="en" data-framework="angularjs">
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

      <!-- Prevent favicon to be requested -->
      <link rel="icon" href="data:;base64,iVBORw0KGgo=">

      <!-- DO theme
      <link rel="stylesheet" media="screen" href="//cloud-cdn-digitalocean-com.global.ssl.fastly.net/assets/vendor-69a8d394f36944f5233dc4baffe95a8e.css" />
      <link rel="stylesheet" media="screen" href="//cloud-cdn-digitalocean-com.global.ssl.fastly.net/assets/application-ab34b00badb231d7438d6f5af94ea6e5.css" />
      <!-- DO scripts -->
      <!--<script src="//cloud-cdn-digitalocean-com.global.ssl.fastly.net/assets/vendor-cdb38e6fa664ad166c7239370caa9827.js"></script>
      <script src="//cloud-cdn-digitalocean-com.global.ssl.fastly.net/assets/application-94a40a08cb48594feb281bc639e52132.js"></script>
      <!-- <script src="//cloud-cdn-digitalocean-com.global.ssl.fastly.net/assets/help-58132c81799d7876d1fb98a9c4e1e944.js"></script> -->

      <!-- FA -->
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

      <!-- Socket.IO related scripts -->
      <script src="/socket.io/socket.io.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
      <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>-->

      <!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
      <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
      <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    -->

      <link href="/ext/semantic/ui/dist/semantic.min.css" rel="stylesheet" type="text/css">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"rel="stylesheet">
      <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker.css" rel="stylesheet">
      <!-- <link rel="stylesheet" href="bower_components/todomvc-common/base.css"> -->
      <script src="/ext/semantic/ui/dist/semantic.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.js"></script>
      <script src="//cdn.ckeditor.com/4.5.3/full-all/ckeditor.js"></script>

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
      <style>
        .mail-sent {
          color: #5cb85c;
        }
        .mail-deferred {
          color: #eea236;
        }
        .mail-bounced {
          color: #d44a45;
        }
        .datepicker.dropdown-menu table  {
          background-color: #303030;
          color: #fff;
          border-bottom-color: #303030;
        }
        .navbar-center
        {
          position: absolute;
          width: 100%;
          left: 0;
          text-align: center;
          margin: auto;
        }
        .alert-center
        {
          position: absolute;
          width: 100%;
          left: 0;
          text-align: center;
          margin: auto;
          margin-top: 46px;
        }
      </style>
  		<style>[ng-cloak] { display: none; }</style>
    </head>
    <body>
      <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->

      <div class="ui basic segment">
        <!-- <br><br><br> -->
        <div class="ui one column grid">
          <div class="ui center aligned column">
          </div>
        </div>
        <div class="ui three column grid">
          <div class="ui left aligned column">
            {{#if user}}
            <div class="ui left aligned header">
              <div class="ui basic segment">
                <div class="ui two column grid">
                  <div class="ui right aligned column">
                    <div id="show-sessions" style="cursor: pointer;">
                      <i class="tasks icon"></i>
                      <div class="content">
                        Sessions
                      </div>
                    </div>
                  </div>
                  <div class="ui left aligned column">
                      <div id="show-lists" style="cursor: pointer;">
                      <i class="users icon"></i>
                      <div class="content">
                        Lists
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/if}}
          </div>
          <div class="ui center aligned column" onclick="location.href='/';" style="cursor: pointer;">
            <div class="ui huge header">
              MAILSENDER
              <div class="sub header">by steminorder.com</div>
            </div>
            {{#if user}}
              <i class="mail outline icon"></i>
              {{user.email}}
            {{/if}}
          </div>
          <div class="ui right aligned column">
            <div class="ui right aligned header">
              <div class="ui basic segment">
                <div class="ui two column grid">
                  <div class="ui right aligned column">
                    {{#if user}}
                    <div onclick="location.href='/new';" style="cursor: pointer;">
                      <i class="edit icon"></i>
                      <div class="content">
                        New Mail
                      </div>
                    </div>
                    {{/if}}
                  </div>
                  <div class="ui left aligned column">
                    {{#if user}}
                    <div onclick="location.href='/logout';" style="cursor: pointer;">
                      <i class="sign out icon"></i>
                      <div class="content">
                        Logout
                      </div>
                    </div>
                    <!-- <div id="login-btn" style="cursor: pointer;">
                      <i class="sign in icon"></i>
                      <div class="content">
                        Login
                      </div>
                    </div> -->
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-controller="sessionCtrl" class="ui left vertical inverted menu sidebar">
        <div id="sessionBox" class="ui secondary vertical menu">
          <a ng-repeat="session in sessions track by $index" class="item" href="/{[{session.sid}]}">
            <div class="ui inverted large header">
              {[{session.subject}]}
            </div>
          </a>
        </div>
      </div>
      <div class="ui bottom sidebar ui segment">
        <div class="ui container">
          <div id="hide-lists" class="ui center aligned container" style="cursor: pointer;">
            <i class="center aligned chevron down icon"></i>
          </div>
          <br>
          <div id="listBox" ng-controller="listCtrl" class="ui container">
            <div class="ui two column grid">
              <div class="ui left aligned column">
                <h2>MANAGE LISTS</h2>
              </div>
              <div class="ui right aligned column">
                <div class="ui right aligned icon input">
                    <input ng-model="listQuery" type="text" placeholder="SEARCH MAILS">
                    <i class="search icon"></i>
                </div>
              </div>
            </div>
            <br>
            <div class="ui top attached segment">
              <div class="ui two column grid">
                <div class="ui column">
                  <div class="ui huge header">{[{listHeader}]}</div>
                </div>
                <div class="ui column">
                  <p ng-hide="oldListObjects">&nbsp;</p>
                </div>
              </div>
            </div>
            <div class="ui attached segment">
              <div class="ui two column grid">
                <div class="ui column">
                  <div class="ui fluid input">
                    <input ng-model="listAdd" ng-focus="crateNewFocus()" ng-keyup="$event.keyCode == 13 && createNewList(listAdd)" type="text" autofocus="true" placeholder="{[{newListInputPh}]}">
                    <div class="massive ui button {[{newListInputBtnState}]}" ng-click="createNewList(listAdd)">CREATE</div>
                  </div>
                  <div class="ui big divided selection list" style="overflow-y:auto; height:296px;">
                    <div class="item" ng-repeat="list in lists track by $index" ng-mouseover="ListHoverIn()" ng-mouseleave="ListHoverOut()" ng-click="switchListMembers($index, list.id, list.name)">
                      <div class="right floated content">
                        <i class="square outline grey link icon" ng-show="hoverCheck" ng-click=""></i>
                        <i class="remove circle grey link icon" ng-show="hoverDelete" ng-click="removeList(list)"></i>
                      </div>
                      <div class="content">
                        {[{list.name}]}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ui column">
                  <div class="ui fluid input" ng-show="oldListObjects">
                    <input ng-model="mailAdd" ng-keyup="$event.keyCode == 13 && addMailToList(mailAdd)" type="text" placeholder="ADD MAIL TO LIST">
                    <button class="massive ui button" ng-click="addMailToList(mailAdd)">ADD</button>
                  </div>
                  <div ng-show="oldList" class="ui big divided selection list" style="overflow-y:auto; height:296px;">
                    <div class="item" ng-repeat="member in listMembers | orderBy | filter: listQuery track by $index" ng-mouseover="ListHoverIn()" ng-mouseleave="ListHoverOut()">
                      <div class="right floated content">
                        <i class="square outline grey link icon" ng-show="hoverCheck" ng-click=""></i>
                        <i class="remove circle grey link icon" ng-show="hoverDelete" ng-click="removeMailFromList(member)"></i>
                      </div>
                      <div class="content">
                        {[{member}]}
                      </div>
                    </div>
                  </div>
                  <div ng-show="newList" class="ui form">
                    <div class="field">
                      <textarea ng-init="multiMailAdd = multiMailAdd = null ? [] : multiMailAdd" ng-model="multiMailAdd" rows=13 style="resize:none;font-size: 19px;" placeholder="Enter mail addresses..."></textarea>
                    </div>
                    <div class="ui small basic right floated icon buttons">
                      <button class="ui disabled button"><i class="file icon"></i></button>
                      <button class="ui disabled button"><i class="save icon"></i></button>
                      <button class="ui disabled button"><i class="upload icon"></i></button>
                      <button class="ui disabled button"><i class="download icon"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="listMemberCount" class="ui basic right aligned segment">
              Mails on this List:&nbsp;{[{listMemberCount}]}
            </div>
          </div>
        </div>
      </div>
      {{{ body }}}
    </body>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/default.js"></script>
</html>
