<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="page-header">
  <h1 id="navbar"><br>Statistics</h1>
</div>
<table class='table table-hover '>
<thead>
<tr>
<th>Time</th>
<th>Sender</th>
<th>Processed / Accepted</th>
<th>Status</th>
</tr>
</thead>
<tbody>
{{#result}}
<tr data-toggle="collapse" data-target="#{{sid}}" class="accordion-toggle">
<td title='{{time}}'>{{hh}}:{{mi}}</td>
<td><a href="/session/{{sid}}/10">{{sender}}</a></td>
<td title='{{process}}'>{{process}} / {{count}}</td>
<td><span class="label label-success">Finished</span></td>
</tr>
<tr>
<td colspan="12" class="hiddenRow">
<div class="accordion-body collapse" id="{{sid}}">
<tr>
<td id='{{sid}}:sent'><h2>{{sent}}</h2></td>
<td id='{{sid}}:deferred'><h2>{{deferred}}</h2></td>
<td id='{{sid}}:bounced'><h2>{{bounced}}</h2></td>
</tr>
</div>
</td>
</tr>
{{/result}}
</tbody>
</table>
{{^result}}
<h3 align="center"><br>No mail has been sent for today.</h3>
{{/result}}
</div>
</div>
</div>

<script>
    var io = io.connect();
    io.on("mailstats", function(data) {
    	document.getElementById(data.new_val.sid+':sent').innerHTML = data.new_val.sent;
    	document.getElementById(data.new_val.sid+':deferred').innerHTML = data.new_val.deferred;
    	document.getElementById(data.new_val.sid+':bounced').innerHTML = data.new_val.bounced;
    });
</script>
