<div class="ui container">
  <div class="ui center aligned three column grid">
    <div class="ui column"><p></p><div>
      <div class="ui column">
        <div class="ui segment">
          <form action="/" method="POST" class="ui form">
            <div class="field">
              <div class="ui huge header">
                Username
              </div>
              <input class="ui massive unput" type="text" name="username">
            </div>
            <div class="field">
              <div class="ui huge header">
                Password
              </div>
              <input type="text" name="password">
            </div>
            <button class="ui fluid massive button" type="submit">Enter</button>
          </form>
        </div>
      </div>
    <div class="ui column"><div>
  </div>
</div>
