<div ng-app="listApp">
  <ng-view />
  <div class="ui container">
    <br>
    <br>
    <br>
    <br>
    <div id="listBox" ng-controller="listCtrl" class="ui container">
      <div class="ui two column grid">
        <div class="ui left aligned column">
          <h2>MANAGE LISTS</h2>
        </div>
        <div class="ui right aligned column">
          <div class="ui right aligned icon input">
              <input ng-model="listQuery" type="text" placeholder="SEARCH MAILS">
              <i class="search icon"></i>
          </div>
        </div>
      </div>
      <br>
      <div class="ui top attached segment">
        <div class="ui two column grid">
          <div class="ui column">
            <div class="ui huge header">{[{listHeader}]}</div>
          </div>
          <div class="ui column">
            <p ng-hide="oldListObjects">&nbsp;</p>
          </div>
        </div>
      </div>
      <div class="ui attached segment">
        <div class="ui two column grid">
          <div class="ui column">
            <div class="ui fluid input">
              <input ng-model="listAdd" ng-focus="crateNewFocus()" ng-keyup="$event.keyCode == 13 && createNewList(listAdd)" type="text" autofocus="true" placeholder="{[{newListInputPh}]}">
              <div class="massive ui button {[{newListInputBtnState}]}" ng-click="createNewList(listAdd)">CREATE</div>
            </div>
            <div class="ui big divided selection list" style="overflow-y:auto; height:296px;">
              <div class="item" ng-repeat="list in lists track by $index" ng-mouseover="ListHoverIn()" ng-mouseleave="ListHoverOut()" ng-click="switchListMembers($index, list.id, list.name)">
                <div class="right floated content">
                  <i class="square outline grey link icon" ng-show="hoverCheck" ng-click=""></i>
                  <i class="remove circle grey link icon" ng-show="hoverDelete" ng-click="removeList(list)"></i>
                </div>
                <div class="content">
                  {[{list.name}]}
                </div>
              </div>
            </div>
          </div>
          <div class="ui column">
            <div class="ui fluid input" ng-show="oldListObjects">
              <input ng-model="mailAdd" ng-keyup="$event.keyCode == 13 && addMailToList(mailAdd)" type="text" placeholder="ADD MAIL TO LIST">
              <button class="massive ui button" ng-click="addMailToList(mailAdd)">ADD</button>
            </div>
            <div ng-show="oldList" class="ui big divided selection list" style="overflow-y:auto; height:296px;">
              <div class="item" ng-repeat="member in listMembers | orderBy | filter: listQuery track by $index" ng-mouseover="ListHoverIn()" ng-mouseleave="ListHoverOut()">
                <div class="right floated content">
                  <i class="square outline grey link icon" ng-show="hoverCheck" ng-click=""></i>
                  <i class="remove circle grey link icon" ng-show="hoverDelete" ng-click="removeMailFromList(member)"></i>
                </div>
                <div class="content">
                  {[{member}]}
                </div>
              </div>
            </div>
            <div ng-show="newList" class="ui form">
              <div class="field">
                <textarea ng-init="multiMailAdd = multiMailAdd = null ? [] : multiMailAdd" ng-model="multiMailAdd" rows=13 style="resize:none;font-size: 19px;" placeholder="Enter mail addresses..."></textarea>
              </div>
              <div class="ui small basic right floated icon buttons">
                <button class="ui disabled button"><i class="file icon"></i></button>
                <button class="ui disabled button"><i class="save icon"></i></button>
                <button class="ui disabled button"><i class="upload icon"></i></button>
                <button class="ui disabled button"><i class="download icon"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui basic right aligned segment" ng-show="oldListObjects">
        {[{listMemberCount}]}&nbsp;mail(s)
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/main.js"></script>
