<div class="container">
<div class="row">
<div class="col-lg-12">

{{#result}}
<div class="page-header">
  <h1 id="navbar"><br><a href="/session/{{sid}}/10"><i class="fa fa-angle-double-left"></i></a> Delivery Details</h1>
</div>
<div id='main'>

<table class='droplet-listing'>
<thead>
<tr>
<th class='name'>{{uid}}</th>
</tr>
</thead>
<tbody>
<tr>
<td class='name'>
<b>From:</b> {{from}}<br>
<b>To:</b> {{to}}<br>
<b>Status:</b> {{status}}<br>
<b>Delay:</b> {{delay}}<br>
<b>DSN:</b> {{dsn}}<br>
<b>Time:</b> {{time}}<br>
<b>Message:</b> {{message}}<br>
</td>
</tr>
{{/result}}
</tbody>
</table>
</div>
</div>
</div>
</div>
