<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="page-header">
  <h1 id="navbar"><br>Login via Token</h1>
</div>

<div id='main'>

<div class='stack-section'>
<p>
<div class='content'>
<form class="simple_form inverse" novalidate="novalidate" id="new_promo" action="/sendtoken" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="origin" value="" /><div class="control-group string optional promo_promo_code"><div class="controls">Your token will be sent to you shortly after you provide your e-mail address below.<br>
<div id='promo_message_header'></div>
<div id='promo_message_content'></div>
<div id='promo_code_activity_indicator'></div>
<br>
<input placeholder="Enter Your E-Mail" class="form_inputs " type="text" name="user" id="user" />
</div></div></form>
</div>
</p>
</div>

</div>
</div>
</div>
</div>
