<div class='stack-section'>
<ul class='promo'>
<h4>Login via Token</h4>
<li>
<div class='content'>
<form class="simple_form inverse" novalidate="novalidate" id="new_promo" action="/sendtoken" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="origin" value="" /><div class="control-group string optional promo_promo_code"><div class="controls">Your token will be sent shortly after you provided your e-mail address below.
<div id='promo_message_header'></div>
<div id='promo_message_content'></div>
<div id='promo_code_activity_indicator'></div>
<input placeholder="Enter Your E-Mail" class="form_inputs " type="text" name="user" id="user" />
<input type="submit" name="login" value="Submit" class="button" />
</div></div></form>

</div>
</li>
</ul>
</div>