<div id='container'>
<div id='content'>
<div class='contents'>
<nav>
<div class='nav_controls'>
<!--
<div class='logo-wrapper'>
<a class="logo" href="#"></a>
</div>
-->

<a class="navLink droplets" href="/"><i class="fa fa-paper-plane"></i> Mailing Stats</a>
<a class="navLink images" href="/list"><i class="fa fa-bars"></i> Mailing Lists</a>
<!--<a class="navLink dns " href="#">Test1</a>
<a class="navLink api " href="#">Test2</a>
<a class="navLink support " href="#">Test3</a>
<a class="create_droplet" href="/new"><i class="fa fa-envelope-o"></i>  Create New</a>-->
</div>
</nav>

<div id='main'>
<header>

<h1>Create New Mail</h1>

</header>
</div>
</div>
</div>
</div>