<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h3 id="navbar"><br>Send New Mail</h3>
      </div>
      <form action="#" method="POST">
        <div >
          <h5>From: <b>{{user.email}}<b></h5>
          <h5>To:  &nbsp;<b>
            {{#user.list}}
            <input type="checkbox" class="rcptList" value="{{id}}" list-data="{{name}}" count-data="{{count}}">&nbsp;{{name}}&nbsp;({{count}})&nbsp;&nbsp;&nbsp;
            <!--<input type="text" name="members-{{id}}" style="display: none;">{{members}}-->
            {{else}}
            <a href="/list">Create A List</a>
            {{/user.list}}</b>
          </h5>
        </div>
        <div>
          <br>
          <input type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Enter Your Mail Subject Here...">
          <br>
          <textarea name="mailBody"></textarea>
        </div>
        <div>
          <br>
          <button type="button" class="btn btn-success btn-block btn-mailsender">SEND YOUR MAIL</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/new.js"></script>
