<div id='container'>
<div id='content'>
<div class='contents'>

<div id='main'>

<div class='stack-section'>
<ul class='promo'>
<h4>Login via Token</h4>
<li>
<div class='content'>
<div class="control-group string optional promo_promo_code"><div class="controls">Token access link has been sent to your e-mail address.<br>Please check your inbox and click the link to login.<br><br><br>
<div id='promo_message_header'></div>
<div id='promo_message_content'></div>
<div id='promo_code_activity_indicator'></div>
</div></div>
</div>
</li>
</ul>
</div>

</div>
</div>
</div>
</div>