<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="page-header">
  <h1 id="navbar"><br>Login via Token</h1>
</div>

<div id='main'>

<div class='stack-section'>
<ul class='promo'>
<div class='content'>
<div class="control-group string optional promo_promo_code"><div class="controls">Token access link has been sent to your e-mail address.<br>Please check your inbox and click the link to login.<br><br>
<div id='promo_message_header'></div>
<div id='promo_message_content'></div>
<div id='promo_code_activity_indicator'></div>
</div></div>
</div>
</ul>
</div>

</div>
</div>
</div>
</div>
