<div id='container'>
<div id='content'>
<div class='contents'>
<nav>
<div class='nav_controls'>
<!--
<div class='logo-wrapper'>
<a class="logo" href="#"></a>
</div>
-->

<a class="navLink droplets" href="/cloudmail.php"><i class="fa fa-paper-plane"></i> Mailing Stats</a>
<a class="navLink images" href="#"><i class="fa fa-bars"></i> Mailing Lists</a>
<a class="navLink dns " href="#"><i class="fa fa-calendar"></i> Calendar</a>
<!--<a class="navLink dns " href="#">Test1</a>
<a class="navLink api " href="#">Test2</a>
<a class="navLink support " href="#">Test3</a><--></-->
<a class="create_droplet" href="#"><i class="fa fa-envelope-o"></i>  Create New</a>
</div>
</nav>

<div id='main'>
<header>

<h1>Session Details</h1>

</header>


<table class='droplet-listing'>
<thead>
<tr>
<th class='name'>Sent</th>
<th class='name'>Deferred</th>
<th class='name'>Bounced</th>
</tr>
</thead>
<tfoot>
<tr>
<td></td>
<td><a href="/cloudsession.php?sid={{sid}}&limit={{aft_lim}}"><h4><i class="fa fa-angle-double-down"></i></h4></a></td>
<td></td>
</tr>
</tfoot>
<tbody>
{{#result}}
<tr>
<td valign='top' class='name'>{{#sent}}<a href="/cloudmaildetail.php?uid={{uid}}">{{to}}</a><br>{{/sent}}</td>
<td valign='top' class='name'>{{#deferred}}<a href="/cloudmaildetail.php?uid={{uid}}">{{to}}</a><br>{{/deferred}}</td>
<td valign='top' class='name'>{{#bounced}}<a href="/cloudmaildetail.php?uid={{uid}}">{{to}}</a><br>{{/bounced}}</td>
</tr>
{{/result}}
</tbody>
</table>

</div>
</div>
</div>
</div>