<div class="ui container">
  <div id="activityBox" ng-controller="activityCtrl" class="ui container">
    <div class="ui two column grid">
      <div class="ui left aligned column">
        <h2>ALL SESSIONS</h2>
      </div>
      <div class="ui right aligned column">
        <div class="ui right aligned icon input">
            <input ng-model="activityQuery" type="text" placeholder="SEARCH SESSIONS">
            <i class="search icon"></i>
        </div>
      </div>
    </div>
    <table class="ui single line table">
        <thead>
            <tr>
                <th>Sender</th>
                <th>Subject</th>
                <th>Sent</th>
                <th>Retrying</th>
                <th>Unsent</th>
                <th>Total</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="mailsession in activity | filter: activityQuery track by $index">
                <td>{[{mailsession.sender}]}</td>
                <td><a ng-href="/{[{mailsession.sid}]}">{[{mailsession.subject}]}</a></td>
                <td>{[{mailsession.sent}]}</td>
                <td>{[{mailsession.deferred}]}</td>
                <td>{[{mailsession.bounced}]}</td>
                <td>{[{mailsession.count}]}</td>
                <td>{[{mailsession.time}]}</td>
            </tr>
        </tbody>
    </table>
    <br><br>
  </div>
</div>

<script type="text/javascript" src="/js/main.js"></script>
