<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="page-header">
  <h1 id="navbar"><br>Session Details</h1>
</div>

<div id='main'>


<table class='droplet-listing'>
<thead>
<tr>
<th class='name'>Sent</th>
<th class='name'>Deferred</th>
<th class='name'>Bounced</th>
</tr>
</thead>
<tfoot>
<tr>
<td></td>
<td><a href="/session/{{sid}}/{{aft_lim}}"><h4><i class="fa fa-angle-double-down"></i></h4></a></td>
<td></td>
</tr>
</tfoot>
<tbody>
{{#result}}
<tr>
<td valign='top' class='name'>{{#sent}}<a href="/detail/{{uid}}">{{to}}</a><br>{{/sent}}</td>
<td valign='top' class='name'>{{#deferred}}<a href="/detail/{{uid}}">{{to}}</a><br>{{/deferred}}</td>
<td valign='top' class='name'>{{#bounced}}<a href="/detail/{{uid}}">{{to}}</a><br>{{/bounced}}</td>
</tr>
{{/result}}
</tbody>
</table>

</div>
</div>
</div>
</div>
