<div class="ui container">
  <div id="activityBox" ng-controller="profileCtrl" class="ui container" ng-init="loadUser({{nguser}})">
    <div class="ui one column grid">
        <div class="ui left aligned column">
            <h2>MY PROFILE</h2>
        </div>
    </div>
    <div class="ui divided list">
        <div class="item">
            <div class="left floated content">
                ID
            </div>
            <div class="content">
                {[{user.id}]}
            </div>
        </div>
        <div class="item">
            <div class="left floated content">
                E-Mail
            </div>
            <div class="content">
                  {[{user.email}]}
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <h3>CHANGE PASSWORD</h3>
    <form action="/passwd" method="post" class="ui form">
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password"><br><br>
        <input type="password" class="form-control" name="password2" placeholder="Re-Password">
      </div><br><br>
      <button type="submit" class="btn btn-primary btn">Save User</button>
      {{#if message}}
      <br><br><div class="alert-link alert-danger">{{ message }}</div>
      {{/if}}
    </form>
</div>
</div>

<script type="text/javascript" src="/js/main.js"></script>
