<!DOCTYPE html>
<html ng-app="mailApp" lang="en" data-framework="angularjs">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- Prevent favicon to be requested -->
    <!-- <link rel="icon" href="data:;base64,iVBORw0KGgo="> -->
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">

    <link href="/ext/semantic/ui/dist/semantic.min.css" rel="stylesheet" type="text/css">
    <script src="/ext/semantic/ui/dist/semantic.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="loginCtrl">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div class="ui basic segment">
      <div class="ui one column grid">
        <div class="ui center aligned column">
        </div>
      </div>
      <div class="ui three column grid">
        <div class="ui left aligned column">
        </div>
        <a class="ui center aligned column" href="/">
          <div class="ui huge header">
            MAILSENDER
            <div class="sub header">by steminorder.com</div>
          </div>
        </a>
        <div class="ui right aligned column">
        </div>
      </div>
    </div>
    <div ng-controller="loginCtrl" class="ui container">
      <div ng-show="logIn" class="ui basic segment">
        <div class="ui three column grid">
          <div class="ui column"></div>
          <div class="ui column">
            <div class="ui padded segment">
              <form action="/" method="POST" class="ui form">
                <div class="field">
                  <div class="ui centered large header">
                    E-Mail
                  </div>
                  <input class="ui input" type="text" name="username">
                </div>
                <div class="field">
                  <div class="ui centered large header">
                    Password
                  </div>
                  <input class="ui input" type="password" name="password">
                </div>
                <button class="ui fluid huge button" type="submit">LOG IN</button>
              </form>
              <a href="#" ng-click="showForgot()">Forgot your Password?</a>
            </div>
          </div>
          <div class="ui column"></div>
        </div>
      </div>
      <div ng-hide="logIn" class="ui basic segment">
        <div class="ui three column grid">
          <div class="ui column"></div>
          <div class="ui column">
            <div class="ui padded segment">
              <form action="/iforgot" method="POST" class="ui form">
                <div class="field">
                  <div class="ui centered large header">
                    E-Mail
                  </div>
                  <input class="ui input" type="text" name="username">
                </div>
                <button class="ui fluid huge button" type="submit">RESET</button>
              </form>
              <a href="#" ng-click="showLogin()">Log In</a>
            </div>
          </div>
          <div class="ui column"></div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/js/main.js"></script>
</html>
